.side-nav {
	width: 70px;
	height: 90dvh;
	min-height: 90dvh;
	border-right: 1px solid var(--border-color);
	transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
    overflow-x: hidden;
    white-space: nowrap;
}

.side-nav.collapsed {
    width: 200px;
    transition: width 0.3s ease;
}

.side-nav ul {
	max-width: 100%;
	height: 100%;
	padding: 30px 20px;
	list-style-type: none;
}

.side-nav ul li {
	width: 100%;
	height: auto;
	padding: 8px 5px;
	position: relative;
}

.side-nav ul li a {
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	color: var(--primary-color);
	text-decoration: none;
	transition: color 0.3s ease;
	transition: all 0.3s ease-in-out;
}

.side-nav.collapsed ul li a {
	justify-content: flex-start;
}

.side-nav ul li a svg {
	width: 21px;
	height: 21px;
	color: inherit;
	stroke: currentColor;
	fill: none;
	stroke-width: 2;
	flex-shrink: 0;
}

.side-nav ul li a span {
	font-size: 1.2rem;
	color: inherit;
	opacity: 0;
	white-space: nowrap;
	transition: opacity 0.2s ease;
}

.side-nav.collapsed ul li a span {
	opacity: 1;
	transition: opacity 0.4s ease 0.1s;
}

.side-nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

.side-nav ul li:hover::after {
    width: 100%;
}

.side-nav ul li:hover a {
	color: var(--accent-color);
}

.side-nav ul li.active::after {
	width: 100%;
}

.side-nav ul li.active a svg,
.side-nav ul li.active a span {
	color: var(--accent-color);
}