.center-panel {
    flex: 1;
    height: 90dvh;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.center-panel::-webkit-scrollbar {
    display: none;
}